/* Style for full-screen 3D canvas */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars */
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background for contrast */
}

table, th, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

#introText{
    position: absolute;
    left: 20%;
    top: 5px
}